#########################
## Gradle project 
########################
.gradle/
build/

###################
# Netbeans
####################

.nb-gradle/

##################################
## Intellij IDEA
##################################

.idea/
*.iml


###################
## O.S. detritus
###################

# Windows image file caches
Thumbs.db
thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Linux/Unix backup files 
*~


